<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/layout :: head"></head>
<body class="hold-transition skin-red sidebar-mini">
<div class="wrapper" style="height: auto;">
    <header th:replace="admin/fragments/layout :: header"></header>
  	 <aside th:replace="admin/fragments/layout :: sidebar" class="main-sidebar"></aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->    
     <section class="content-header">
      <h1>
       Users<small th:text="${h1}"> Add Item</small>
      </h1>
      <ol class="breadcrumb">
        <li><a th:href='@{admin}'><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a th:href='@{admin/User}'th:text='Users'> Users</a></li>
        <li class="active" th:text="${h1}"> Add</li>
      </ol>
    </section>
    
    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<form method="post" novalidate="novalidate" th:action="@{admin/User/SubmitChangePassword}" th:object="${frmPass}" name="frmPass">
    			<div class="col-md-9">
    					<div class="box box-primary" >     
    						<div class="box-header with-border">
    							<h3 class="box-title">Password info</h3>	 
    						</div>    
				            <div class="box-body">
						            <div class="alert alert-danger alert-dismissible" role="alert" th:if="${#fields.hasGlobalErrors()}">
									  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									  <ul>
									  	<li th:each="err : ${#fields.globalErrors()}" ><label class="control-label" th:text="${err}" ></label></li>
									  </ul>
										
									</div>
						            <div class="col-md-6">
						           		 <div class="form-group">
						           						 <label >UserName</label>
						            					<input type="text" class="form-control"  th:field="*{username}" th:errorclass="field-error" readonly="readonly">
				               							<label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"  class="error"></label>
				               				</div>			
						            
						            	 <div class="form-group" >
						           						 <label >New Password</label>
						            					<input type="password" class="form-control"  th:field="*{newpassword}" th:errorclass="field-error"  >
				               								<label th:if="${#fields.hasErrors('newpassword')}" th:errors="*{newpassword}"  class="error"></label>
				               				</div>		
				               				 <div class="form-group" >
						           						 <label >Re-New Password</label>
						            					<input type="password" class="form-control"  th:field="*{renewpassword}" th:errorclass="field-error"  >
				               						<label th:if="${#fields.hasErrors('renewpassword')}" th:errors="*{renewpassword}"  class="error"></label>
				               				</div>	
				               				

						            
						            </div>
							</div>
							 <div class="box-footer">
							 	<a th:href='@{admin/User}'>Go Back </a>
								 	<button type="submit" class="btn btn-primary" >
						                <i class="fa fa-save"></i> Submit New Password
						      		</button>
								 </div>
				       </div>
    			</div>
    		</form>
    	</div>
    	
    	
	</section>
    <!-- /.content -->
  </div>
	
  <!-- /.content-wrapper -->

<script src="js/User/main.js"></script>
    <footer th:replace="admin/fragments/layout :: footer"></footer>
  <!-- /wapper -->  
  </div>  
</body>
</html>